<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
    <div class="container" ng-controller="AppController">
      <div class="page-header">
        <h1>Blood pressure measurements</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="rrs && rrs.length > 0">
        There are no measurements yet.
      </div>
      <div>
        <form>
          <div class="form-group">
            <label for="inputSystolic">Systolic (mm Hg)</label>
            <input type="number" ng-model="newRR.systolic" class="form-control" id="inputSystolic" placeholder="Systolic e.g 125">
          </div>
          <div class="form-group">
            <label for="inputDiastolic">Diastolic (mm Hg)</label>
            <input type="number" ng-model="newRR.diastolic" class="form-control" id="inputDiastolic" placeholder="Diastolic e.g 80">
          </div>
          <div class="form-group">
            <label for="inputHr">Heart rate (beats per minute)</label>
            <input type="number" ng-model="newRR.hr" class="form-control" id="inputHr" placeholder="Heart rate e.g 70">
          </div>
          <button type="submit" ng-click="save(newRR)" class="btn btn-default">Submit</button>
        </form>
      </div>
      <div ng-hide="!(rrs && rrs.length > 0)">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Heart rate</th>
              <th>Systolic</th>
              <th>Diastolic</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="rr in rrs">
              <td>{{ rr.hr }}</td>
              <td>{{ rr.systolic }}</td>
              <td>{{ rr.diastolic }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="./bower_components/angular-spring-data-rest/dist/angular-spring-data-rest.min.js"></script>
    <script type="text/javascript" src="./bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="./app/app.js"></script>
    <script type="text/javascript" src="./app/controllers.js"></script>
    <script type="text/javascript" src="./app/services.js"></script>
  </body>
</html>